.venv
.env
*/Dockerfile*
.idea
.dockerignore
.gitignore
.git
venv
__pycache__
*.pyc
*.pyo
*.pyd
db.sqlite3
Dockerfile
docker-compose.yml
README.md
nginx/

__pycache__/
.Python
venv/
env/
.venv/
.vscode/
.idea/
*.log
media/
staticfiles/
*.sqlite3
*.db
docker-compose.override.yml